<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
    <title>Sign In</title>
    <link rel="icon" type="image/x-icon" href="/assets/plumbob.png" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <section class="content">
      <div>
        <h1>Sign In</h1>
        </div>
        <div>
        <form action="/auth/sign-in" method="POST">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" required />
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" required />
          <button type="submit">Sign in</button>
        </div>
        </form>
    </section>
  </body>
  <footer>
    <p>© Morgan Ford 2025</p>
  </footer>
</html>
