<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
    <title>New Sim</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add A New Sim</h1>
    <form action="/users/<%= user._id %>/sims" method="POST">
      <!-- need to show to the user which fields are required -->
      <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required />
      </div>
      <div>
        <label for="photo">Photo:</label>
        <input type="text" name="photo" id="photo" />
      </div>
      <div>
        <label for="lifeStage">Life Stage:</label>
        <select id="lifeStage" name="lifeStage" required>
          <option value="newborn">Newborn</option>
          <option value="infant">Infant</option>
          <option value="toddler">Toddler</option>
          <option value="child">Child</option>
          <option value="teen">Teen</option>
          <option value="youngAdult">Young Adult</option>
          <option value="adult">Adult</option>
          <option value="elder">Elder</option>
        </select>
      </div>
      <div>
         <label for="occult">Occult:</label>
         <select id="occult" name="occult" required>
            <option value="human">Human</option>
            <option value="alien">Alien</option>
            <option value="ghost">Ghost</option>
            <option value="mermaid">Mermaid</option>
            <option value="servo">Servo</option>
            <option value="spellcaster">Spellcaster</option>
            <option value="vampire">Vampire</option>
            <option value="werewolf">Werewolf</option>
         </select>
      </div>
      <div>
        <label for="world">World:</label>
        <select id="world" name="world">
          <option value="brindletonBay">Brindleton Bay</option>
          <option value="britechester">Britechester</option>
          <option value="chestnutRidge">Chestnut Ridge</option>
          <option value="ciudadEnamorada">Ciudad Enamorada</option>
          <option value="copperdale">Copperdale</option>
          <option value="delSolValley">Del Sol Valley</option>
          <option value="evergreenHarbor">Evergreen Harbor</option>
          <option value="forgottenHollow">Forgotten Hollow</option>
          <option value="glimmerbrook">Glimmerbrook</option>
          <option value="henfordOnBagley">Henford-on-Bagley</option>
          <option value="magnoliaPromenade">Magnolia Promenade</option>
          <option value="moonwoodMill">Moonwood Mill</option>
          <option value="mtKomorebi">Mt. Komorebi</option>
          <option value="newcrest">Newcrest</option>
          <option value="nordhaven">Nordhaven</option>
          <option value="oasisSprings">Oasis Springs</option>
          <option value="ravenwood">Ravenwood</option>
          <option value="sanMyshuno">San Myshuno</option>
          <option value="sanSequoia">San Sequoia</option>
          <option value="strangerVille">StrangerVille</option>
          <option value="sulani">Sulani</option>
          <option value="tartosa">Tartosa</option>
          <option value="tomarang">Tomarang</option>
          <option value="willowCreek">Willow Creek</option>
          <option value="windenburg">Windenburg</option>
        </select>
      </div>
      <div>
        <label for="career">Career:</label>
        <select id="career" name="career" required>
          <option value="unemployed">Unemployed</option>
          <option value="selfEmployed">Self-Employed</option>
          <option value="actor">Actor</option>
          <option value="astronaut">Astronaut</option>
          <option value="athlete">Athlete</option>
          <option value="babysitter">Babysitter</option>
          <option value="barista">Barista</option>
          <option value="business">Business</option>
          <option value="civilDesigner">Civil Designer</option>
          <option value="criminal">Criminal</option>
          <option value="critic">Critic</option>
          <option value="conservationist">Conservationist</option>
          <option value="culinary">Culinary</option>
          <option value="detective">Detective</option>
          <option value="diver">Diver</option>
          <option value="doctor">Doctor</option>
          <option value="education">Education</option>
          <option value="engineer">Engineer</option>
          <option value="entertainer">Entertainer</option>
          <option value="fastFoodEmployee">Fast Food Employee</option>
          <option value="fisherman">Fisherman</option>
          <option value="freelancer">Freelancer</option>
          <option value="gardener">Gardener</option>
          <option value="handyperson">Handyperson</option>
          <option value="interiorDecorator">Interior Decorator</option>
          <option value="law">Law</option>
          <option value="lifeguard">Lifeguard</option>
          <option value="manualLaborer">Manual Laborer</option>
          <option value="military">Military</option>
          <option value="painter">Painter</option>
          <option value="politician">Politician</option>
          <option value="reaper">Reaper</option>
          <option value="retailEmployee">Retail Employee</option>
          <option value="romanceConsultant">Romance Consultant</option>
          <option value="salaryperson">Salaryperson</option>
          <option value="scientist">Scientist</option>
          <option value="secretAgent">Secret Agent</option>
          <option value="simfluencer">Simfluencer</option>
          <option value="socialMedia">Social Media</option>
          <option value="styleInfluencer">Style Influencer</option>
          <option value="tattooArtist">Tattoo Artist</option>
          <option value="techGuru">Tech Guru</option>
          <option value="undertaker">Undertaker</option>
          <option value="videoGameStreamer">Video Game Streamer</option>
          <option value="writer">Writer</option>
        </select>
      </div>
      <div>
        <label for="personalityTraits">Personality Traits:</label>
        <input type="text" name="personalityTraits" id="personalityTraits" />
      </div>
      <div>
        <label for="aspiration">Aspiration:</label>
        <select id="aspiration" name="aspiration" >
        <option value="academic">Academic</option>
        <option value="anglingAce">Angling Ace</option>
        <option value="applianceWiz">Appliance Wiz</option>
        <option value="archaeologyScholar">Archaeology Scholar</option>
        <option value="beachLife">Beach Life</option>
        <option value="bestsellingAuthor">Bestselling Author</option>
        <option value="bigHappyFamily">Big Happy Family</option>
        <option value="bodybuilder">Bodybuilder</option>
        <option value="championshipRider">Championship Rider</option>
        <option value="chiefOfMischief">Chief of Mischief</option>
        <option value="cityNative">City Native</option>
        <option value="computerWhiz">Computer Whiz</option>
        <option value="countryCaretaker">Country Caretaker</option>
        <option value="crystalCrafter">Crystal Crafter</option>
        <option value="cureSeeker">Cure Seeker</option>
        <option value="discerningDweller">Discerning Dweller</option>
        <option value="emissaryOfTheCollective">Emissary of the Collective</option>
        <option value="ecoInnovator">Eco Innovator</option>
        <option value="enforcerOfOrder">Enforcer of Order</option>
        <option value="expertNectarMaker">Expert Nectar Maker</option>
        <option value="fabulouslyFilthy">Fabulously Filthy</option>
        <option value="fabulouslyWealthy">Fabulously Wealthy</option>
        <option value="fiveStarPropertyOwner">Five-Star Property Owner</option>
        <option value="friendOfTheAnimals">Friend of the Animals</option>
        <option value="friendOfTheWorld">Friend of the World</option>
        <option value="fountOfTomaraniKnowledge">Fount of Tomarani Knowledge</option>
        <option value="galacticPrivateer">Galactic Privateer</option>
        <option value="ghostHistorian">Ghost Historian</option>
        <option value="goodVampire">Good Vampire</option>
        <option value="hopeVsOrder">Hope VS Order</option>
        <option value="innerPeace">Inner Peace</option>
        <option value="jokeStar">Joke Star</option>
        <option value="jungleExplorer">Jungle Explorer</option>
        <option value="leaderOfThePack">Leader of the Pack</option>
        <option value="loneWolf">Lone Wolf</option>
        <option value="lordLadyOfTheKnits">Lord/Lady of the Knits</option>
        <option value="mansionBaron">Mansion Baron</option>
        <option value="marketMagnate">Market Magnate</option>
        <option value="masterActorMasterActress">Master Actor/Master Actress</option>
        <option value="masterChef">Master Chef</option>
        <option value="masterMentor">Master Mentor</option>
        <option value="masterMaker">Master Maker</option>
        <option value="masterMixologist">Master Mixologist</option>
        <option value="masterVampire">Master Vampire</option>
        <option value="musicalGenius">Musical Genius</option>
        <option value="mtKomorebiSightseer">Mt. Komorebi Sightseer</option>
        <option value="neighborhoodConfidante">Neighborhood Confidante</option>
        <option value="nerdBrain">Nerd Brain</option>
        <option value="paragonOfHope">Paragon of Hope</option>
        <option value="paragonPartner">Paragon Partner</option>
        <option value="painterExtraordinaire">Painter Extraordinaire</option>
        <option value="partyAnimal">Party Animal</option>
        <option value="perfectlyPristine">Perfectly Pristine</option>
        <option value="publicEnemy">Public Enemy</option>
        <option value="purveyorOfPotions">Purveyor of Potions</option>
        <option value="renaissanceSim">Renaissance Sim</option>
        <option value="romanticExplorer">Romantic Explorer</option>
        <option value="seekerOfSecrets">Seeker of Secrets</option>
        <option value="serialRomantic">Serial Romantic</option>
        <option value="selfCareSpecialist">Self-Care Specialist</option>
        <option value="stickyFingers">Sticky Fingers</option>
        <option value="strangerVilleMystery">StrangerVille Mystery</option>
        <option value="soulmate">Soulmate</option>
        <option value="superParent">Super Parent</option>
        <option value="successfulLineage">Successful Lineage</option>
        <option value="spellcraftAndSorcery">Spellcraft & Sorcery</option>
        <option value="theCurator">The Curator</option>
        <option value="thePositivityChallenge">The Positivity Challenge</option>
        <option value="vampireFamily">Vampire Family</option>
        <option value="villainousValentine">Villainous Valentine</option>
        <option value="wildfangRenegade">Wildfang Renegade</option>
        <option value="werewolfInitiate">Werewolf Initiate</option>
        <option value="worldFamousCelebrity">World-Famous Celebrity</option>
        <option value="zenGuru">Zen Guru</option>
        <option value="artisticProdigy">Artistic Prodigy (Child)</option>
        <option value="creativeGenius">Creative Genius (Child)</option>
        <option value="mindAndBody">Mind and Body (Child)</option>
        <option value="playtimeCaptain">Playtime Captain (Child)</option>
        <option value="rambunctiousScamp">Rambunctious Scamp (Child)</option>
        <option value="slumberPartyAnimal">Slumber Party Animal (Child)</option>
        <option value="socialButterfly">Social Butterfly (Child)</option>
        <option value="whizKid">Whiz Kid (Child)</option>
        <option value="admiredIcon">Admired Icon (Teen)</option>
        <option value="dramaLlama">Drama Llama (Teen)</option>
        <option value="goalOriented">Goal Oriented (Teen)</option>
        <option value="liveFast">Live Fast (Teen)</option>
        </select>
      </div>
      <div>
        <label for="fashionStyle">Fashion Style:</label>
        <input type="text" name="fashionStyle" id="fashionStyle" />
      </div>
      <div>
        <label for="partner">Partner(s):</label>
        <input type="text" name="partner" id="partner" />
      </div>
      <div>
        <label for="comments">Comments:</label>
        <textarea name="comments" id="comments"></textarea>
      </div>
      <button type="submit">Add Sim</button>
    </form>
  </body>
</html>
