<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
    <title>Home</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>Welcome to Your Sims!</h1>


    <p><a href="/users">Browse Other Users</a></p>
</body>
</html>